* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background: #0a0c14;
    color: white ;
}

.Main {
    height: 75vh;
    background: radial-gradient(ellipse at 50% 20%, #13133c 0%, black 70%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.MainContent {
    font-size: 80px;
    margin: 20px 0 30px;
}

.Button {
    padding: 14px 32px;
    border-radius: 40px;
    font-weight: 600;
    text-decoration: #818cf8;
    transition: 0.2s;
    font-size: 16px;
    display: inline-block;
    background: #818cf8;
    color: #0b0e14;
}

.Button:hover {
    background: #6d78e8;
    transform: scale(1.03);
}